<div class="links">
    <div class="links__wrapper">
        {{#each links}}
            <a class="links__item" title="{{name}}" href="{{url}}" target="_blank">
                <img src="{{path}}" alt="{{name}}">
                <span>{{name}}</span>
            </a>
        {{/each}}
    </div>
</div>
